@import "./brands-list-form.scss";
@import "./search-category.scss";

.categories-list-form {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;

  &__item {
    min-height: 4rem;
    padding-right: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: $colorMainBackground;
    transition: all 0.3s;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1.8rem;
    }

    .brands-list-form {
      max-height: 594px;
      overflow-y: auto;

      @media only screen and (max-width: $pointXL) {
        max-height: 537px;
      }

      @media only screen and (max-width: $pointLG) {
        max-height: 515px;
      }

      @media only screen and (max-width: $pointMD) {
        max-height: 82vh;
      }
    }
  }

  &__into {
    margin-left: auto;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__brands {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $colorWhite;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 2;

    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    .brands-list {
      height: 58.3rem;
      overflow-y: auto;
    }
  }

  &__breadcrumbs {
    padding: 1.3rem 1rem;
    border-bottom: 1px solid $colorGrey;
  }

  &__back {
    position: relative;
    padding: 0.5rem 0rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 600;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background-image: url('/resources/assets/svg/arrow-square-left.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
