.site-alert {
  width: max-content;
  max-width: 80%;
  padding: 2em;
  @media(min-width: 992px) {
    max-width: 60%;
  }
  @media(min-width: 992px) {
    max-width: 50%;
  }

  &_close.button-close {
    top: -2em;
    right: -2.2em;

    span.close-icon::after,
    span.close-icon::before {
      background-color: $light;
    }

    &:hover {
      span.close-icon::after,
      span.close-icon::before {
        background-color: $primary;
      }
    }
    &:active {
      span.close-icon::after,
      span.close-icon::before {
        background-color: var(--bs-link-hover-color);
      }
    }
  }

  &_message {
    margin: 0;
    padding: 0;
  }
}
