.site-alert {
  width: max-content;
  max-width: 80%;
  padding-top: 4em;

  &_close {
    top: 0.25em;
    right: 0.25em;
    width: 2em;
    height: 2em;
  }

  @media(min-width: 992px) {
    max-width: 60%;
  }

  @media(min-width: 992px) {
    max-width: 50%;
  }
}
