.aside {
  position: relative;
  min-height: 100%;
  height: max-content;
  margin: 0;
  padding-top: 4em;
  background-color: $light;
  border-radius: 0px;
  @media(min-width: 576px) {
    width: max-content;
    margin: 0;
    margin-right: auto;
  }

  &.active {
    transform: translateX(0%);
  }

  .btn {
    width: 100%;
  }

  &-city {
    @media(min-width: 768px) {
      display: none;
    }
  }
}
