.similar {
  margin-bottom: 3em;

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &-swiper-wrapper {
    position: relative;
  }

  &-swiper {
    max-width: 90%;
    // padding-right: 1px !important;
  }

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto;
    padding-right: 1px;
  }

  &-swiper-button-prev,
  &-swiper-button-next {
    color: $primary !important;
  }
  &-swiper-button-prev {
    left: -1.3em !important;
  }
  &-swiper-button-next {
    right: -1.3em !important;
  }

  &-card {
    height: 100%;
  }
}
