.undefined {
  width:  100vw;
  height: calc(100vh - 296px - 64px - 48px - 16px - 62px - 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media(min-width: 768px) {
    height: calc(100vh - 155px - 64px - 48px - 16px - 62px - 32px);
  }

  &_title {
    color: $primary;
    @media(min-width: 992px) {
      font-size: 5em;
    }
  }
}
