.preview {
  max-width: 100%;
  margin-bottom: 2em;
  justify-content: center;
  column-gap: 0.5em;

  &_list {
    margin: 0;
    padding: 0;
    column-gap: 0.5em;
    list-style: none;
  }

  &_item {
    &--3,
    &--4 {
      display: none;
    }

    &--3 {
      @media(min-width: 576px) {
        display: block;
      }
    }

    &--4 {
      @media(min-width: 768px) {
        display: block;
      }
    }
  }

  &_button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  &_button > * {
    pointer-events: none;
  }

  &_img {
    width: 100%;
    max-width: 100%;
  }

  &_count {
    background-color: transparent;
    border: none;
  }
}

.head {
  margin-bottom: 2em;
  align-items: center;
  column-gap: 0.7em;

  &_logo {
    @media(min-width: 992px) {
      display: none;
    }
  }

  &_title {
    font-size: 1.4em;
    line-height: 150%;
    @media(min-width: 992px) {
      display: inline-flex;
    }
  }
}

.app-button {
  width: 50%;
  margin-bottom: 3em;
  display: none;
  @media(min-width: 992px) {
    display: block;
  }

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.shop-sides {
  @media(min-width: 992px) {
    position: relative;
    margin-bottom: 3em;
    padding-bottom: 3em;
    display: flex;
    column-gap: 5em;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 70%;
      border-bottom: 1px solid $secondary;
      transform: translateX(-50%);
    }
  }
}

.shop-left,
.shop-right {
  @media(min-width: 992px) {
    width: 50%;
  }

}
.shop-left {
  @media(min-width: 768px) {
    display: flex;
    column-gap: 3em;
  }
  @media(min-width: 992px) {
    flex-direction: column;
  }
}

.work-rating-socials-wrapper {
  min-width: 50%;
}

.work {
  margin-bottom: 2em;
}


.rating {
  &_average {
    margin-bottom: 1em;
    display: flex;
    // justify-content: center;

    .rating {
      margin-left: 3%;
    }
  }

  &_average .rating,
  &_count,
  &_comments-count {
    font-size: 1em;
    @media(min-width: 400px) {
      font-size: 1.1em;
    }
  }

  &_label {
    min-width: 7em;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 600;
    text-align: right;
    @media(min-width: 400px) {
      min-width: 40%;
      margin-right: 1em;
    }
  }

  &_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_item {
    display: flex;
    // justify-content: center;
  }

  &_count {
    margin: 0;
  }
}

.rating-socials {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  justify-content: center;
  list-style: none;

  &_item {
    font-size: 3em;
  }

  &_item:not(:last-child) {
    margin-right: 0.7em;
  }
}

.contacts-working-mode-wrapper {
  @media(min-width: 576px) {
    display: flex;
    justify-content: space-around;
  }

  @media(min-width: 992px) {
    flex-direction: column;
    justify-content: unset;
  }
}

.contacts {
  width: 100%;
  margin-bottom: 2em;

  &_list {
    margin: 0;
    margin-bottom: 0.8em;
    padding: 0 10%;
    list-style: none;
    font-size: 18px;
    @media(min-width: 992px) {
      padding: 0 0;
    }
  }

  &_item {
    width: max-content;
    height: max-content;
  }

  &_link {
    padding: 0.3em;
    display: inline-block;
    font-size: inherit;
  }
}

.working-mode {
  width: 100%;
  margin-bottom: 2em;

  .shop_subtitle {
    text-align: left;
  }

  &_list {
    width: 100%;

    th, td {
      text-align: left;
    }

    th {
      @media(min-width: 400px) {
        padding-left: 10%;
      }
      @media(min-width: 576px) {
        padding: 0;
      }
    }
  }
}

.location {
  margin-bottom: 2em;

  &_address {
    padding-left: 10%;
    font-style: italic;
    @media(min-width: 992px) {
      padding-left: 0;
    }
  }

  &_map {
    width: 100%;
    height: 250px;
  }
}

.description {
  position: relative;
  margin-bottom: 3em;
  text-align: center;
  &--desktop {
    display: none;
    @media(min-width: 768px) {
      display: block;
    }
  }
  &--mobile {
    @media(min-width: 768px) {
      display: none;
    }
  }

  .ellipsis {
    opacity: 0;
  }

  &_wrapper {
    position: relative;
    overflow: hidden;
    transition: height 0.2s linear;

    &.close {
        height: 7.5em;
    }

    &.close + .ellipsis {
      opacity: 1;
    }
  }

  &_text {
    &--mobile {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding-right: 1em;
    }
  }

  &_more {
    margin: auto;
    border-bottom: 2px solid $primary;
    transition: transform
  }
}

.categories-reviews-wrapper {
  @media(min-width: 992px) {
    max-width: 700px;
    margin: auto;
  }
}

.categories {
  &--desktop {
    display: none;
    @media(min-width: 992px) {
      display: block;
    }
  }

  &--mobile {
    max-width: 30em;
    margin: auto;
    margin-bottom: 3em;

    @media(min-width: 992px) {
      display: none;
    }
  }

  &_list,
  &_sublist {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_collapse {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 1em;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;


    &::before {
      content: '-';
      position: absolute;
      left: 0.5em;
    }
  }
  &_collapse.collapsed {
    &::before {
      content: '+';
    }
  }

  &_title {
    margin-bottom: 0;
    font-weight: 600;
  }

  &_head,
  &_subitem {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }

  &_item:not(:first-child),
  &_subitem {
    border-top: 1px solid $secondary;
  }
  &_item:last-child {
    border-bottom: 1px solid $secondary;
  }

  &_subitem {
    padding-left: 13%;
    font-size: 1em;
  }

}

.reviews {
  margin-bottom: 3em;

  &_item {
    .accordion-button {
      display: flex;
    }
    .accordion-button::after {
      margin-left: 0.5em;
      @media(min-width: 400px) {
        margin-left: auto;
      }
    }
  }

  &_service-name {
    margin-right: auto;
    font-weight: 600;
    @media(min-width: 400px) {
      min-width: 7.5em;
      margin-right: 1em;
      margin-left: auto;
      text-align: right;
    }
  }

  &_rating-count {
    margin: 0;
    margin-right: auto;
    padding: 0;
    display: none;
    @media(min-width: 400px) {
      display: inline-block;
    }
    @media(min-width: 768px) {
      margin-right: 2em;
    }

    &--mobile {
      @media(min-width: 768px) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @media(min-width: 768px) {
        display: inline-block;
      }
    }

  }
  &_count {
    color: $secondary;
  }

  &_subtitle {
    margin: 0;
    padding: 1em 0;
    font-style: italic;
  }

  &_body {
    max-height: 30em;
    padding: 0 1em;
    overflow-y: auto;
  }

  &_list,
  &_sublist {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_comment {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid $secondary;
    border-radius: 1rem;
    .reviews_rating-count {
      margin-bottom: 1em;
      display: block;
    }
  }

  &_name,
  &_date {
    margin-bottom: 0;
    font-weight: 600;
  }

  &_name {
    margin-bottom: 0;
    margin-right: 1em;
  }

  &_date {
    font-weight: 600;
    color: $secondary;
  }
  &_text {
    margin-bottom: 0;
  }

  &_response {
    margin-bottom: 1em;

    &.collapsed::before {
      content: 'Показать ответы';
    }
    &::before {
      content: 'Скрыть ответы';
    }
  }

  &_sublist {
    padding-left: 2em;
  }

  &_subcomment {
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
  }
}

.photos {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  // max-height: 100vh;
  // height: auto;
  padding: 0;
  // padding-bottom: 2em;
  background-color:rgb(0, 0, 0);
  border-radius: 0;

  &.modal-window--open {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    height: 88vh;
  }

  &_img {
    width: 100%;
    margin: auto;
    height: auto;
    max-height: 88vh;
    object-fit: contain;
    color: transparent;
    z-index: 2;
  }

  .photos-swiper-button-prev,
  .photos-swiper-button-next {
    display: none;


    &::after {
      font-size: 1.5em;
    }
    @media(min-width: 992px) {
      top: 0;
      width: 3em;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      // border-radius: 100%;
    }
  }

  .photos-swiper-pagination {
    bottom: 1em !important;
    background-color:rgb(0, 0, 0, 0.5);
  }

  .swiper-pagination-bullet {
    background-color: $primary;
  }
}

.photos_close.button_close {
  top: 0em;
  right: 0.3em;
  width: 3em;
  height: 3em;
  z-index: 2;
}

.photos_close.button_close span.close-icon::after,
.photos_close.button_close span.close-icon::before {
  background-color: $light;
  height: 3px;
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('../assets/images/Loading_black.gif');
  // background-repeat: no-repeat;
  // background-position: center;

  // &_img {
  //   color: transparent;
  // }
}
