.preview {
  &_button > * {
    pointer-events: none;
  }
}

.photos {
  max-width: 70%;
  padding: 0;
  background-color: $light;

  &_img {
    width: 94%;
    max-width: 100%;
    margin: auto;
    height: 100vh;
    object-fit: contain;
    color: transparent;
    z-index: 2;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 0 !important;
    height: 100% !important;
    margin-top: 0 !important;
    padding: 0 3%;
    background-color: $light;
  }
}

.photos_close.button_close {
  top: -1em;
  right: -5.3em;
  width: 5em;
  height: 5em;
  z-index: 2;
}

.photos_close.button_close span.close-icon::after,
.photos_close.button_close span.close-icon::before {
  background-color: $light;
  height: 3px;
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/Loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}
