$mb: 25px;

.aside {
	background-color: $light;
	border-radius: 0px;

	&.active {
		transform: translateX(0%);
	}

	&-city,
	&_logo,
	&-filters-categories,
	.star-rating,
	#filter_location,
	&-filters-area,
	&-filters_cancel,
	&-filters_apply {
		margin-bottom: $mb;
	}
}
