.aside {
  position: relative;
  margin: 0;
  padding-top: 50px;
  background-color: $light;
  border-radius: 0px;
  @media(min-width: 576px) {
    width: 50%;
    margin: 0;
    margin-right: auto;
  }

  &.active {
    transform: translateX(0%);
  }

  .btn {
    width: 100%;
  }
}
