.footer {
  position: relative;
  margin-bottom: 65px;
  @media(min-width:992px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 70%;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    background-color: $secondary;
    @media(min-width: 576px) {
      width: 80%;
    }
    @media(min-width: 768px) {
      width: 100%;
    }
  }

  &::before {
    top: 0;
    height: 2px;
  }

  &::after {
    bottom: 0;
    height: 1px;
  }

  &_logo {
    @media(min-width: 768px) {
      width: 30%;
    }
  }

  .nav-menu {
    @media(min-width: 768px) {
      width: 70%;

      &_list {
        max-height: 115px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
  }

}
