.disabled {
	pointer-events: none;
	filter: grayscale(0);

	&--grey {
		background-color: $gray-400;
	}
}

.hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.opacity-5 {
	opacity: 0.5;
}

