/***************/
/* BREAKPOINTS */
/***************/

/* 1200px */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
  .correct.flex-ctr{
    max-height: 732px;
  }
}

/* 1000px */
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }

  .correct.flex-ctr{
    max-height: 617px;
  }
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }

  main {
    padding-top: 7rem;
  }

  .container {
    max-width: calc(100vw - 4rem);
  }

  .mobile-nav-section {
    display: block;
  }

  .header__top {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .header__map-btn {
    display: block;
  }

  .header__top-text,
  #citySelect,
  .header__top-link,
  .hero-section-btn,
  .aside {
    display: none;
  }

  .menu-list {
    top: 7rem;
    width: 100vw;

    display: none !important;
  }

  .menu-list__inner {
    flex-direction: column;
    max-width: 100%;
    max-height: 75.5dvh;
    overflow-y: scroll;
  }

  .menu-list__categories-wrapper {
    display: none;
  }

  .search--menu {
    display: block !important;
  }

  .menu-list__regions-wrapper {
    margin: 0;
    margin-bottom: 4rem;
    width: 100%;
  }

  .menu-list__promos {
    display: none;
  }

  .menu-list.active {
    display: block !important;
  }

  .header__logo {
    margin: 0 !important;
  }

  .header__logo img {
    max-height: 2rem;
  }

  .header__logo > * + * {
    margin-left: 0.6rem;
  }

  .hero-section {
    height: auto;
    margin-bottom: 1.2rem;
    padding: 0.8rem;
    background-image: none;
  }

  .hero-section-content {
    padding: 0;
    z-index: -1;
  }

  .hero-section-title {
    font-size: 3rem;
    font-weight: 600;
  }

  .hero-section-text {
    padding: 0;
    height: 0rem;
    overflow: hidden;
  }

  .active .hero-section-text {
    height: fit-content;
  }

  .hero-section-text-box {
    height: 2.4rem;
  }

  .hero-section-text-box.active {
    height: 32rem;
  }

  .hero-section-text-expand-btn {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .hero-section-text-expand-btn.active {
    transform: translate(-50%) rotate(180deg);
  }

  /* SEARCH MENU */

  .search--filter {
    position: fixed;
    top: 7rem;
    left: 0;
    z-index: 5000;
    width: 100vw;
    height: calc(100vh - 7rem);
    min-height: -webkit-fill-available;
    overflow-y: scroll;

    display: none !important;
  }

  .search--filter.active {
    display: block !important;
  }

  .search--filter .categories-list {
    padding: 2rem;
  }

  .search--filter .search__mobile-btns {
    position: fixed;
  }

  .categories-list > li:last-child {
    padding-bottom: 6rem;
  }

  .filter__row-action-btn--clear {
    display: none;
  }

  .filter__search-mobile-btns {
    position: fixed;
    display: flex;
  }

  /***/
  .correct.flex-ctr{
    max-height: none;
  }

  .shop-list {
    height: 126rem;
  }

  .shop-list.expanded {
    height: 248rem;
  }

  .shop-card {
    flex-direction: column;
  }

  .shop-card__content {
    padding-bottom: 0;
    border: none;
  }

  .shop-card__info{
    max-width: calc(100vw - 16.5rem);
  }

  .shop-card__title {
    margin-bottom: 0.5rem;
  }

  .display-rating__count {
    font-size: 3.2rem;
  }

  .shop-card__address {
    display: block;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .shop-card__action {
    display: none;
  }

  .shop-card__description {
    -webkit-line-clamp: 2;
    margin-right: 0;
  }

  .shop-card__contacts {
    padding: 2rem;
    flex-direction: row;
  }

  .shop-card__contacts > * + * {
    margin-left: 4.5rem;
  }

  .shop-card__contact--mobile-btn {
    display: flex;
  }

  .filter__text {
    width: 100%;
    padding: 4rem 2rem 2rem 2rem;
  }

  .shop-list {
    z-index: 2;
  }

  .filter__map {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 19rem);
    margin: 0;
    z-index: -1;
    box-shadow: 0 5px 50px $shadow;
  }

  .filter__map::before {
    display: none;
  }

  .filter__text {
    padding-bottom: 0;
    margin-bottom: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .filter__text-btn {
    display: block;
  }

  /* CATEGORIES */

  .similar {
    padding-top: 2.7rem;
    padding-bottom: 5.4rem;
    background-image: url(../img/categories-bg-mobile.png);
    background-position: bottom right;
    background-size: 75%;
  }

  .similar__inner {
    flex-direction: column;
  }

  .similar__title {
    margin-bottom: 2.5rem;
  }

  .similar-categories {
    height: 24rem;
  }

  .similar-categories.active {
    height: 75rem;
  }

  .similar-categories a:link,
  .similar-categories a:visited {
    padding: 1.5rem 2rem;
    width: 100%;
  }

  .similar__more-btn {
    margin-bottom: 4rem;
  }

  /* .categories-list li label:hover img {
    background:  var(--color-secondary);
  } */

  .similar-regions__list {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }

  .active .similar-regions__list {
    height: 42.2rem;
  }

  .similar-regions a:link,
  .similar-regions a:visited {
    padding: 1rem 1.4rem;
    font-size: 1.5rem;
  }

  /***/

  .mobile-nav-section > .hero-section-btn {
    display: flex;
  }

  .filter__wrapper {
    padding-bottom: 0;
  }

  .aside {
    position: fixed;
    z-index: 1500;
    top: 7rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 7rem);
    min-height: -webkit-fill-available;
    overflow-y: scroll;
  }

  .aside--collapsed {
    display: none;
  }

  .aside--expanded {
    display: block;

    min-height: 100vh;
  }

  .aside__collapse-btn {
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 600;
    color: inherit;
  }

  .aside__collapse-btn::before {
    background-image: url("../img/icon/arrow-square-left.svg");
  }

  .aside__clear-btn {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    width: calc(100vw - 4rem);
    min-height: 4rem;
    color: $colorWhite;
    background-color: $colorMainBackground;
    z-index: 500;
  }

  .aside__clear-btn img {
    opacity: 0;
  }

  .aside__clear-btn span {
    display: block;
  }

  .aside__clear-btn span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-140%, -50%);
    width: 2rem;
    height: 2rem;
    background-image: url(../img/icon/trash-mobile-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .aside__toggles {
    padding-bottom: 10rem;
  }

  .footer {
    padding-top: 4.5rem;
    padding-bottom: 15.8rem;
  }

  .footer__inner {
    padding-bottom: 5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__logo {
    margin-bottom: 4rem;
  }

  .footer__list {
    margin: 0;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .footer__list a:link,
  .footer__list a:visited {
    font-size: 1.5rem;
    padding: 0;
    background-color: transparent;
  }

  .footer__link-btn:link,
  .footer__link-btn:visited {
    position: absolute;
    top: 0;
    right: 0;
  }

  .footer__btn-top {
    top: auto;
    left: 0;
    bottom: 0;
    transform: translate(0) rotate(-180deg);
  }

  /* ACTIVE STATE */
  .active .aside {
    display: block;
    width: 100vw;
    max-height: unset;
  }

  .active .filter__search {
    display: none;
  }

  .active.filter__search {
    display: block;
  }

  .map-open .filter__wrapper {
    display: none;
  }

  .map-open .hero-section {
    display: none;
  }

  .map-open .filter__map {
    z-index: 1;
    position: fixed;
  }
}

/* FOR ITEM.HTML */

/* 900px */
@media only screen and (max-width: 56.25em) {

  main {
    padding-top: 7rem;
  }

  .itc-select__dropdown{
    left: 1.5rem;
    right: 1.5rem;
  }

  .testimonials__tab-link:link, .testimonials__tab-link:visited{
    margin-left: 2rem;
    text-align: right;
  }
  .carousel-section {
    padding-left: 2rem;
  }
  .carousel {
    --carousel-width: calc(100vw - 2rem);
  }
  .carousel__container {
    height: 13.5rem;
  }
  .carousel .actions .previous {
    left: calc(9.375% - 2rem);
  }
  .heading {
    padding: 4.5rem 0 3.4rem 0;
  }
  .item-title {
    font-size: 2.7rem;
    line-height: 3.4rem;
  }
  .btn--apply {
    display: none;
  }
  .heading__back-btn:link,
  .heading__back-btn:visited {
    top: 1rem;
    left: 2rem;
  }
  .item-body-section {
    padding-top: 1.8rem;
  }
  .info {
    grid-template-columns: 1fr;
    padding-bottom: 25.6rem;
  }
  .info__left-col {
    max-width: calc(100vw - 4rem);
    padding: 0;
  }
  .info__address-box {
    margin-bottom: 2.2rem;
    max-width: calc(100% - 8rem);
  }
  .info__address-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .info__links-box {
    position: relative;
    flex-direction: column;
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .info__links-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2rem;
    width: 100vw;
    height: 1px;
    background-color: var(--grey);
  }
  .info__links-box > * + * {
    margin-left: 0;
    margin-top: 1.2rem;
  }
  .info-heading {
    margin-bottom: 3.7rem;
  }
  .info__rating-box {
    margin-bottom: 3rem;
  }
  .info__rating-num {
    font-size: 4.6rem;
    line-height: 1.4rem;
  }
  .info__rating .gl-star-rating--stars[class*=" s"] > span {
    --star-size: 2.4rem;
  }
  .info__rating-table--logo-box img {
    max-height: 2.8rem;
  }
  .info__description-box {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
  }
  .info__description-box .info-heading {
    margin-bottom: 1.5rem;
  }
  .info__description-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .show-more.info__description-text {
    -webkit-line-clamp: 15;
  }
  .info.active .info__description-text {
    -webkit-line-clamp: 15;
  }
  .info__description-text-btn {
    display: block;
  }
  .info__right-col-box {
    width: calc(100vw - 4rem);
    padding: 0;
    border: none;
  }
  .info__right-info-box {
    position: relative;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--color-primary);
  }
  .info__address-box {
    margin: 0;
    margin-bottom: 2rem;
  }
  .info__address-icon rect {
    fill: $colorWhite;
  }
  .info__contacts-text {
    display: none;
  }
  .info__socials-box {
    position: absolute;
    top: 2.6rem;
    left: 8.7rem;
  }
  .info__socials-box > * + *:link,
  .info__socials-box > * + *:visited {
    margin-left: 1.8rem;
  }
  .info__social-link:link,
  .info__social-link:visited {
    --el-size: 3.4rem;
    background-color: transparent;
  }
  .info__social-link > svg > path {
    fill: currentColor;
  }
  .info__contacts-box {
    margin-bottom: 0;
  }
  .info__working-hours-text {
    margin-bottom: 2rem;
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  .info__working-hours-table {
    display: none;
  }
  .info__working-hours-table--mobile {
    display: table;
  }
  .info__map-box {
    width: 500%;
    margin-left: -200%;
  }
  .info__map-box--inner {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
  }
  .info__map-overlay {
    top: 2rem;
    left: 2rem;
    margin-right: 2rem;
    flex-direction: column;
  }
  .info__map-btn {
    text-align: left;
  }
  .info__map-btn--primary {
    margin-bottom: 1rem;
    width: 21.3rem;
  }
  .info__map-btn--location {
    margin: 0;
    line-height: 2.1rem;
    padding: 1rem;
  }
  .brands__container {
    padding: 0;
    padding-top: 3.2rem;
  }
  .brands__heading {
    margin-left: 2rem;
    margin-bottom: 3.4rem;
    font-size: 2.7rem;
  }
  .accordion__header--brands {
    --padding-inline: 2rem;
    --padding-block: 2.5rem;
    display: flex;
    flex-direction: column;
  }
  .accordion__header--brands::after {
    top: 2.5rem;
    margin: 0;
  }
  .accordion__body-content--brands {
    padding: 0.5rem 2rem 3rem 2rem;
  }
  .brands-accordion__title {
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    line-height: 1.4rem;
  }
  .brands-accordion__price-range {
    font-size: 1.9rem;
    line-height: 1.4rem;
  }
  .brands-list {
    gap: 1.8rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .testimonials-section {
    padding: 0;
    min-height: auto;
  }
  .testimonials__inner {
    padding: 0;
  }
  .testimonials__heading-box {
    position: relative;
    margin-block: 3.3rem;
    z-index: 2;
  }
  .testimonials__heading-box::after {
    content: "";
    position: absolute;
    top: -3.3rem;
    left: -10rem;
    width: 200vw;
    height: 8rem;
    background-color: $colorGreyLight;
    z-index: -1;
  }
  .testimonials__heading {
    font-size: 3rem;
    line-height: 1.4rem;
  }
  .testimonials__main-rating {
    display: none;
  }
  .testimonials__text {
    display: none;
  }
  .testimonials__tab-select {
    width: 50%;
  }
  .testimonials__tab-select .itc-select {
    min-width: 15.4rem;
  }
  .testimonials__tab-select .itc-select__toggle {
    padding: 1.3rem 3.8rem 1.3rem 1.5rem;
  }
  .testimonials__link {
    display: none;
  }
  .tabset {
    display: none;
  }
  .tabset--mobile {
    display: block;
  }
  .tabset--mobile .accordion > * + * {
    border-top: 1px solid var(--grey);
  }
  .tabset--mobile .accordion__body-content {
    padding: 0;
  }
  .tabset--mobile .accordion__header {
    padding: 0;
    padding-block: 2rem;
    align-items: flex-start;
  }
  .tabset--mobile .accordion__header img {
    margin-bottom: 2rem;
    max-height: 3.2rem;
  }
  .testimonials-acordion__info-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .similar-section {
    padding-block: 3.3rem;
  }
  .similar-section.container {
    max-width: 100%;
  }
  .similar-heading {
    margin-bottom: 3.3rem;
    font-size: 2.7rem;
    line-height: 1.4rem;
  }
  .similar-list {
    flex-direction: column;
  }
  .similar-list > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }
  .similar-list__card {
    justify-content: flex-start;
  }
}


/* 773px */
@media only screen and (max-width: 773px) {
  .info{
    padding-bottom: 27.6rem;
  }
}
/* 651px */
@media only screen and (max-width: 651px) {
  .info{
    padding-bottom: 29.6rem;
  }
}
/* 554px */
@media only screen and (max-width: 554px) {
  .info.active {
    padding-bottom: 320px;
  }
}
/* 501px */
@media only screen and (max-width: 501px) {
  .info.active {
    padding-bottom: 344px;
  }
}
/* 445px */
@media only screen and (max-width: 445px) {
  .info.active {
    padding-bottom: 368px;
  }
}
/* 410px */
@media only screen and (max-width: 410px) {
  .info.active {
    padding-bottom: 392px;
  }
}
/* 380px */
@media only screen and (max-width: 380px) {
  .info.active {
    padding-bottom: 416px;
  }
}
/* 361px */
@media only screen and (max-width: 361px) {
  .info.active {
    padding-bottom: 440px;
  }
}
/* 335px */
@media only screen and (max-width: 335px) {
  .info.active {
    padding-bottom: 464px;
  }
}

