$colorGrey: #d9d9d9;
$colorGreylight: #EDEDED;
$colorWhite: #fff;
$colorBlack: #000;
$colorBlackOpacity: rgba(0, 0, 0, 0.2);
$colorBlackHardOpacity: rgba(0, 0, 0, 0.05);
$colorMainBackground: #25313a;
$colorSecondaryBackground: #ededed;
$colorPrimary: #b4e040;
$colorDarkPrimary: #a2d222;
$colorSecondary: #3d39fc;

$color_1: #e1f5fe;
$color_2: #0277bd;
$color_3: #f5f5f5;
$color_4: #ccc;
$color_5: #7d8797;
$color_6: #828282;
$color_7: #f6f6f6;

$shadow: 0 5px 50px rgba(0, 0, 0, 0.15);

$pointXL: 75em;
$pointLG: 62.25em;
$pointMD: 56.25em;
// $pointMD:
//
//
$mainSectionPaddingXXL: 10rem;
$mainSectionPaddingMD: 7rem;

