@import "../variables.scss";
@import "../components/display-rating.scss";
@import "../layouts/crousel-section.scss";
@import "../layouts/similar.scss";

.preview__slide {
  max-height: 25.5rem;

  & img {
    width: 100%;
    pointer-events: none;
  }
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}


