@import "../variables.scss";
@import "../mixins.scss";
@import "../components/display-rating.scss";
@import "../components/accordion.scss";
@import "../layouts/crousel.scss";
@import "../layouts/info-rating.scss";
@import "../layouts/hours.scss";
@import "../layouts/brands-list.scss";
@import "../layouts/tabs.scss";
@import "../layouts/comments-list.scss";
@import "../layouts/similar-companies.scss";
@import "../layouts/similar-categories-and-location.scss";
@import "../layouts/photos-carousel.scss";

.swiper-slide--carousel {
  cursor: pointer;
}

.heading {
  position: relative;
  padding: 5rem 0 4.2rem 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @media only screen and (max-width: $pointMD) {
    padding: 4.5rem 0 3.4rem 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 4.7rem;
    line-height: 5.4rem;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      font-size: 2.7rem;
      line-height: 3.4rem;
    }
  }

  &__btn {
    min-width: 38rem;
    min-height: 7.4rem;
    font-size: 2.4rem;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      display: none;
    }
  }
}

.info {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: $colorWhite;

  @media only screen and (max-width: $pointMD) {
    padding-top: 1.8rem;
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $pointMD) {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
      // padding-bottom: 25.6rem;
    }
  }

  &-title {
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      margin-bottom: 3.7rem;
    }
  }

  &-heading {
    margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 600;

    &__title {
      @media only screen and (max-width: $pointMD) {
        font-size: 1.5rem;
        line-height: 2.2rem;
      }
    }

    svg {
      margin-right: 1.8rem;
    }
  }

  &__left {
    padding-right: 10rem;

    @media only screen and (max-width: $pointMD) {
      padding: 0;
    }
  }

  &__right {
    &-wrapper {
      padding-left: 5rem;
      padding-right: 7.5rem;
      border-left: 1px solid $colorGrey;

      @media only screen and (max-width: $pointMD) {
        width: calc(100vw - 4rem);
        margin-bottom: 5rem;
        padding: 0;
        display: flex;
        border: none;

        >* {
          flex-basis: 50%;
        }
      }

      @media only screen and (max-width: $pointS) {
        display: block;
      }
    }
  }

  &__countdown {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 3.4rem;
    font-weight: 600;
  }
}

.info-links {
  display: flex;
  margin-bottom: 3rem;

  @media only screen and (max-width: $pointMD) {
    position: relative;
    flex-direction: column;
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -2rem;
      width: 100vw;
      height: 1px;
      background-color: $colorGrey;
    }
  }

  >*+* {
    margin-left: 4rem;

    @media only screen and (max-width: $pointMD) {
      margin-left: 0;
      margin-top: 1.2rem;
    }
  }

  &__link {
    position: relative;
    padding-left: 3.4rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: $color_5;

    &--site::before {
      background-image: url("/resources/assets/svg/site-link-icon.svg");
    }

    &--vk::before {
      background-image: url("/resources/assets/svg/vk-link-icon.svg");
    }

    &:link::before,
    &:visited::before {
      --el-size: 2rem;
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - (var(--el-size) / 2));
      width: var(--el-size);
      height: var(--el-size);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.display-rating {
  &--info-average {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
  }

  &__count--info-average {
    margin-right: 2rem;
  }

  &--info-services {
    display: flex;
    font-size: 0.8rem;

    @media only screen and (max-width: $pointMD) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $pointXS) {
      font-size: 0.8rem;
    }
  }
}

.info-description {
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;

  @media only screen and (max-width: $pointMD) {
    margin-bottom: 5rem;
  }
}

.info-contacts {
  @media only screen and (max-width: $pointMD) {
    position: relative;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .info-heading {
      display: none;
    }
  }

  @media only screen and (max-width: $pointS) {
    background-color: $colorPrimary;
    display: block;
  }

  &__wrapper {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $pointMD) {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;

    >*+* {
      margin-top: 1.4rem;

      @media only screen and (max-width: $pointMD) {
        margin-top: 3.4rem;
      }

      @media only screen and (max-width: $pointS) {
        margin-top: 1.4rem;
      }
    }
  }

  &__phone {
    font-size: 2.6rem;
    line-height: 1;
    font-weight: 600;
    color: $colorBlack;
  }

  &__socials {
    display: flex;

    @media only screen and (max-width: $pointMD) {
      margin-bottom: 2rem;
    }

    &>*+* {
      margin-left: 3rem;
    }
  }

  &__social-link {
    --el-size: 4.5rem;
    width: var(--el-size);
    height: var(--el-size);
    background-color: #bdbdbd;
    border-radius: 50%;
  }
}

.info-map {
  position: relative;
  height: 36rem;
  box-shadow: $shadow;

  &__overlay {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;

    >*+* {
      margin-left: 1.5rem;
    }
  }

  &__btn {
    min-height: 4rem;
    padding: 1.2rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
  }
}

.info__map-btn img {
  --el-size: 2rem;
  margin-right: 0.8rem;
  width: var(--el-size);
  height: var(--el-size);
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sell {
  position: relative;
  background-color: $colorWhite;

  &__container {
    padding: 5.8rem 6.5rem 4.8rem 6.5rem;
    background-color: $colorGreyLight;

    @media only screen and (max-width: $pointMD) {
      padding: 3.2rem 0;
    }
  }

  &__title {
    margin-bottom: 5rem;
    font-size: 3.7rem;
    line-height: 1.4rem;
    font-weight: 600;
  }

  &-list {
    margin-bottom: 2rem;
    overflow: hidden;

    & li:not(:last-child) {
      margin-bottom: 1rem;
    }

    >li:nth-child(n+6) {
      display: none;
    }

    &[data-expand-start-height]>li:nth-child(n+6) {
      display: block;
    }

    &__breadcrumbs {
      position: absolute;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &.open {
        position: relative;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    &__title {
      margin-bottom: 1.8rem;
      font-size: 2.7rem;
      line-height: 1.4rem;
    }

    &__range {
      font-size: 2.4rem;
      line-height: 1.4rem;
    }

    &__back {
      padding-left: 3rem;
      font-size: 1.2rem;
      line-height: 1.4rem;
      font-weight: 600;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        background-image: url(/resources/assets/svg/arrow-square-left.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__more {
    margin-left: 2rem;
  }
}

.accordion {
  &--sell {
    background-color: $colorWhite;
  }

}

.brands-list {

  &--sell,
  &--point {
    position: absolute;
    padding-bottom: 4rem;
    background-color: $colorWhite;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media only screen and (max-width: $pointMD) {
      padding-bottom: 3rem;
      gap: 1.8rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $pointS) {
      grid-template-columns: repeat(1, 1fr);
    }

    &.open {
      position: relative;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__item--sell {
    cursor: pointer;
  }
}

.testimonials {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 5.5rem;
  background-color: $colorWhite;

  &__content {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $pointMD) {
      flex-direction: column;
      justify-content: unset;
    }
  }

  &__left,
  &__panels {
    flex-basis: 50%;
  }

  &__left {
    box-sizing: border-box;
    padding-right: 5rem;
  }

  &__panels {
    @media only screen and (max-width: $pointMD) {
      display: none;
    }
  }

  &__list {
    display: none;

    @media only screen and (max-width: $pointMD) {
      display: block;
    }
  }

  &__heading {
    margin-bottom: 3.4rem;
    display: flex;
    align-items: center;
  }

  &__title {
    margin-right: 2rem;
    font-size: 3.7rem;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      font-size: 3rem;
      line-height: 1.4rem;
    }
  }

  &__logo {
    @media only screen and (max-width: $pointMD) {
      max-height: 3.2rem;
      margin-bottom: 2rem;
    }
  }

  &__description {
    margin-bottom: 7rem;
    padding-right: 2rem;
    font-size: 2rem;
    line-height: 3.1rem;
    font-weight: 400;

    @media only screen and (max-width: $pointMD) {
      display: none;
    }
  }

  &__tabset {
    @media only screen and (max-width: $pointMD) {
      display: none;
    }
  }

  &__checkbox {
    @include hidden;
  }

  &__label {
    position: relative;
    width: 100%;
    padding: 2.8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.5;

    &:not(:last-child) {
      border-bottom: 1px solid $colorGrey;
    }
  }

  &__checkbox:checked+&__label {
    opacity: 1;
  }

  &__number {
    min-height: 2.8rem;
    padding: 0.5rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 0.7rem;
    background-color: $colorPrimary;

    @media only screen and (max-width: $pointMD) {
      padding: 0.4rem 1.1rem;
      font-size: 1.2rem;
    }
  }


  &__info {
    display: flex;
    justify-content: space-between;
  }
}

.display-rating {
  &--testimonials-average {
    margin-bottom: 0;

    @media only screen and (max-width: $pointMD) {
      display: none;
    }
  }

  &__count--testimonials-average {
    margin-right: 1rem;
    font-size: 3.6rem;
    font-weight: 600;
  }

  &--testimonials-service {
    font-size: 0.9rem;
  }

  &__count--testimonials-service {
    margin-right: 1rem;
    font-weight: 700;
  }
}

.accordion {
  &--testimonials {
    &:not(:last-child) {
      border-bottom: 1px solid $colorGrey;
    }
  }

  &__header--testimonials {
    padding: 2rem 0;
    display: block;

    &::after {
      top: 31%;
    }
  }

  &__content--testimonials {
    padding: 0;
  }
}

.footer {
  @media only screen and (max-width: $pointMD) {
    padding-bottom: 3.8rem;
  }
}
