@import "../variables.scss";
@import "../components/display-rating.scss";
@import "../layouts/similar.scss";

.preview__slide img {
  /* width: max-content; */
  pointer-events: none;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}


