.filters-city {
  width: max-content;
  padding-right: 30px;
  text-align: right;

  &_label {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &_button {
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 25px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color:  $secondary;

    span {
      border-bottom: 1px solid $secondary;
    }

    .chooser__icon {
      position: absolute;
      right: 5px;
      width: 10px;
      border-top: 7px solid $secondary;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: none;
      transition: transform 0.1s linear;
    }

    .chooser__icon.open  {
      transform: rotateX(180deg);
    }
  }

  &_list {
    top: 30px;
    left: 50%;
    min-width: 100%;
    width: max-content;
    margin: 0;
    padding: 15px 0px;
    background-color: $light;
    border: 1px solid $secondary;
    border-radius: 10px;
    transform: translateX(-50%);

    &.chooser__list.open {
      z-index: 1000;
    }
  }

  &_item {
    padding: 5px 20px;

    &.focused,
    &.hover {
      background-color: $primary;
      color: $light;
    }
  }
}
