@import "./city.scss";

.filters {
  &-subcategories {
    &_button {
      width: 100%;
      margin: 0;
      padding: 0.5em 1em;
      display: block;
      border: none;
      border-bottom: 1px solid $secondary;
      background-color: transparent;
      text-align: left;
      font-size: 1em;

      &::after {
        margin-left: 0.7em;
      }

      &[aria-expanded="false"]::after {
        content: '+';
      }
      &[aria-expanded="true"]::after {
        content: '-';
      }
    }

    &_body {
      padding: 0.7em 1em;
    }
  }

  .accordion-body {
    padding-bottom: 1.2em;
  }

  .accordion-body::before {
    content: '';
    display: block;
    width: 100%;
  }

  .form-check {
    margin: 0;
    border-bottom: none;
  }

  .accordion-body::before,
  .form-check {
    border-bottom: 1px solid $secondary;
  }

  &-options .form-check:first-of-type {
    border-top: 1px solid $secondary;
  }

  .form-check-label {
    display: block;
    padding: 0.3em 0px;
    text-align: center;
    font-size: 0.9em;
  }

  &_apply,
  &_cancel,
  &_add-shop {
    width: 100%;
  }


  $mb: 1.5em;
  &-categories,
  .star-rating,
  #filter_location,
  &-area,
  &_cancel,
  &-options,
  &_apply {
    margin-bottom: $mb;
  }
}
