@import "./city.scss";

.filters {

  &_show {
    position: relative;
    // top: 50%;
    // left: 0;
    padding: 15px 5px;
    // writing-mode: vertical-rl;
    // text-orientation: upright;
    // transform: translateY(-50%);
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    // z-index: 999;

    // &::before {
    //   content: '→';
    //   position: relative;

    //   margin-bottom: 10px;
    // }

    // &:hover {
      // &::before {
      //   animation: arrow-animation 0.5s linear infinite;
      // }
    // }

    // @keyframes a rrow-animation {
    //   0% {
    //     left: 0px;
    //   }
    //   70% {
    //     left: 5px;
    //   }
    //   100% {
    //     left: 0px;
    //   }
    // }
  }

  &-subcategories {
    &_button {
      width: 100%;
      margin: 0;
      padding: 7px 15px;
      display: block;
      border: none;
      border-bottom: 1px solid $secondary;
      background-color: transparent;
      text-align: left;
      font-size: 1em;

      &::after {
        margin-left: 10px;
      }

      &[aria-expanded="false"]::after {
        content: '+';
      }
      &[aria-expanded="true"]::after {
        content: '-';
      }
    }

    &_body {
      padding: 10px 15px;
    }
  }

  .accordion-body {
    padding-bottom: 20px;
  }

  .accordion-body::before {
    content: '';
    display: block;
    width: 100%;
  }

  .form-check {
    margin: 0;
    border-bottom: none;
  }

  .accordion-body::before,
  .form-check {
    border-bottom: 1px solid $secondary;
  }

  &-options .form-check:first-of-type {
    border-top: 1px solid $secondary;
  }

  .form-check-label {
    display: block;
    padding: 5px 0px;
    text-align: center;
    font-size: 0.9em;
  }

  &_apply,
  &_cancel,
  &_add-shop {
    width: 100%;
  }


  $mb: 25px;
  &-categories,
  .star-rating,
  #filter_location,
  &-area,
  &_cancel,
  &-options,
  &_apply {
    margin-bottom: $mb;
  }
}
