.accordion {
  &__checkbox {
    position: fixed;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
  }

  &__header {
    position: relative;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms ease;
  }

  &__checkbox:checked ~ &__body {
    grid-template-rows: 1fr;
  }

  &__content {
    position: relative;
    overflow: hidden;
  }
}


