.btn {
  //MAIN SITE`S BUTTONS
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;

  &:disabled {
    cursor: auto;
  }

  &__disabled {
    display: none;
  }

  &--primary {
    background: $colorPrimary;
  }

  &--secondary {
    background: $colorSecondary;
  }

  &--close {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: $color_4;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }


  // NAVIGATION BUTTONS
  &.previous,
  &.forwards {
    padding: 1rem 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 32rem;
    background: $colorWhite;
    font-size: 1rem;
    color: $colorPrimary;
    cursor: pointer;

    * {
      pointer-events: none;
    }
  }
}


