.star-rating {
  $widthStep: 3.2em;
  $width: $widthStep * 5;
  $heght: 2em;
  $backgroundSize: 3.5em;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  &.disabled {
    pointer-events: none;
  }

  &__caption {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  &__group {
    position: relative;
    width: $width;
    height: $heght;
    background-image: url('/resources/assets/svg/star-empty.svg');
    background-size: $backgroundSize;
    background-repeat: repeat-x;
    z-index: 0;
  }

  &__radio {
    position: absolute;
    top: 0;
    left: 0;
    height: $heght;
    margin: 0;
    padding: 0;
    background-size: $backgroundSize;
    background-repeat: repeat-x;
    appearance: none;
    font-size: inherit;
    cursor: pointer;
  }

  $z: 6;
  @for $i from 1 through 5 {
    &__radio:nth-of-type(#{$i}) {
      width: ($i * $widthStep);
      z-index: $z - $i;
    }
  }

  &__radio:checked,
  &__radio:hover {
    background-image: url('/resources/assets/svg/star-full.svg');
  }

  &__radio:hover ~ &__radio {
    background-image: none;
  }

  // SIZE 25
  $widthStep_25: 4.92em;
  $width_25: $widthStep_25 * 5;
  $heght_25: 2.5em;
  $backgroundSize_25: 5.5em;

  &--25  &__group {
      width: $width_25;
      height: $heght_25;
      background-size: $backgroundSize_25;
  }


  &--25  &__radio {
    height: $heght_25;
    background-size: $backgroundSize_25;
  }

  $z: 6;
  @for $i from 1 through 5 {
    &--25  &__radio:nth-of-type(#{$i}) {
      width: ($i * $widthStep_25);
      z-index: $z - $i;
    }
  }
}




