.categories-list {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  overflow-y: auto;

  &__item {
    min-height: 4rem;
    padding-right: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: $colorMainBackground;
    transition: all 0.3s;
    display: flex;
    align-items: center;
  }

  &__link:link,
  &__link:visited {
    color: inherit;
    display: flex;
    align-items: center;
    word-break: break-word;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    padding: 0.6rem;
    background: $colorSecondary;
    border-radius: 1rem;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.3s;
  }
}

// .search .categories-list {
//   padding: 2rem 1rem;
// }

// .brands-section {
//   background-color: $colorWhite;
//   position: relative;
//   z-index: 2;
// }

// .brands__container {
//   padding: 5.8rem 6.5rem 4.8rem 6.5rem;
//   background-color: $colorSecondaryBackground;
// }

// .brands__content.expanded .accordion--brands {
//   height: fit-content;
// }

// .brands__content.expanded .brands-list__more::before {
//   transform: translateY(-50%) rotate(180deg);
// }

// .brands-list {
//   $el-size: 4rem;

//   display: grid;
//   gap: 1.95rem 6rem;

//   &--main li {
//     cursor: pointer;
//   }

//   &--categories {
//     position: relative;
//     grid-template-columns: repeat(1, 1fr);
//     gap: 1.8rem;
//     height: 60rem;
//     overflow-y: auto;

//     .brands-list__item {
//       display: flex;
//       align-items: center;

//       &:last-child {
//         margin-bottom: 0;
//       }
//     }
//   }

//   &__item {
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//   }

//   &__icon {
//     width: $el-size;
//     height: $el-size;
//     margin-right: 2rem;
//     border-radius: 1rem;
//     background-color: $colorSecondary;
//     flex-shrink: 0;
//     transition: all 0.2s linear;

//     .active__brand & {
//       background-color: $colorPrimary;
//     }
//   }

//   &__info {
//     font-weight: 600;
//     line-height: 2rem;
//     pointer-events: none;
//   }

//   &__brand {
//     font-size: 1.7rem;
//     pointer-events: none;
//   }

//   &__price {
//     font-size: 1.5rem;
//   }

//   &__more {
//     margin-top: 3rem;
//     font-size: 1.4rem;
//     line-height: 1;
//     font-weight: 600;
//     padding-left: 3rem;

//     &::before {
//       content: "";
//       position: absolute;
//       width: calc($el-size / 2);
//       height: calc($el-size / 2);
//       background-image: url("/resources/assets/svg/arrow-square-down.svg");
//       background-size: contain;
//       background-repeat: no-repeat;
//       top: 50%;
//       transform: translateY(-50%);
//       left: 0;
//       transition: all 0.5s;

//       .active & {
//         transform: translateY(-50%) rotate(-180deg);
//       }
//     }
//   }
// }
