.btn.site-btn {
  background-color: $light;
  border: 1px solid $secondary;

  &:hover {
    background-color: $light;
    border-color: $primary !important;

  }
  &:active {
    box-shadow: 0 0px 0.3em $primary;
    border-color: $primary !important;
  }
  &:focus-within,
  &:focus-visible,
  &:focus {
    background-color: $light !important;
  }

  &:focus-within,
  &:focus-visible,
  &:focus {
    background-color: $light !important;
  }
}

.btn.btn-primary {
  color: $primary;

  &:hover,
  &:active {
    background-color: var(--bs-link-hover-color);
  }
}

.btn.btn-info,
.btn.btn-warning,
.btn.btn-primary {
  color: $light;
}

.btn.btn-info:active,
.btn.btn-warning:active,
.btn.btn-primary:active,
.btn-outline-primary:active {
  color: $light;
}

.btn-outline-primary:hover {
  color: $light;
}

.button_close {
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  width: 3em;
  height: 3em;
  padding: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;

  .close-icon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      display: inline-block;
      background-color: $secondary;
      transition: background 0.2s ease-in-out;
    }

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  &:hover {
    .close-icon {
      &::before,
      &::after {
        background-color: $primary;
      }
    }
  }

  &:active {
    .close-icon {
      &::before,
      &::after {
        background-color: var(--bs-link-hover-color);
      }
    }
  }
}

.btn-link {
  background-color: transparent;
  border: none;
  color: $primary;
  text-decoration: none;
}
