.btn.site-btn {
  background-color: $light;
  border: 1px solid $secondary;

  &:hover {
    background-color: $light;
    border-color: $primary !important;

  }
  &:active {
    box-shadow: 0 0px 0.3em $primary;
    border-color: $primary !important;
  }
  &:focus-within,
  &:focus-visible,
  &:focus {
    background-color: $light !important;
  }

  &:focus-within,
  &:focus-visible,
  &:focus {
    background-color: $light !important;
  }
}

.btn.btn-primary {
  color: $primary;

  &:hover,
  &:active {
    background-color: var(--bs-link-hover-color);
  }
}

.btn.btn-info,
.btn.btn-warning,
.btn.btn-primary {
  color: $light;
}

.btn.btn-info:active,
.btn.btn-warning:active,
.btn.btn-primary:active,
.btn-outline-primary:active {
  color: $light;
}

.btn-outline-primary:hover {
  color: $light;
}


.btn-link {
  background-color: transparent;
  border: none;
  color: $primary;
  text-decoration: none;
}

