.button-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  width: 100%;
  padding: 0.7em;
  display: inline-block;
  border-radius: 0;

  @media(min-width: 992px) {
    position: relative;
    width: 70%;
    z-index: 1;
  }
}
