@import "../../variables.scss";
@import "../../layouts/header.scss";
@import "../../layouts/categories-list/default.scss";
@import "../../layouts/menu.scss";
@import "../../layouts/search/default.scss";
@import "../../layouts/search/categories.scss";
@import "../../layouts/footer.scss";
@import "../../layouts/aside.scss";
@import "../../layouts/categories-list/form.scss";
@import "../../components/display-rating.scss";
@import '../../layouts/similar-categories.scss';
@import '../../layouts/similar-location.scss';
@import "../../layouts/similar-categories-and-location.scss";
@import "../../layouts/shop-list.scss";
@import "../../layouts/shop-card.scss";
@import "./layouts/hero.scss";
@import "./layouts/filter.scss";
@import "./layouts/mobile-nav.scss";

// body {
//   // position: relative;
//   max-height: 100vh;
//   padding-bottom: 9rem;
//   overflow-y: auto;
// }

.filter {
  &__text-btn,
  &__text {
    display: none;
  }
}

// .similar-categories-and-location {
//   display: none;
// }

.footer {
  display: none;

  @media only screen and (max-width: $pointMD) {
    padding-bottom: 15.8rem;
    display: block;
  }
}
