.carousel {
  position: relative;
  padding: 0 3.5rem;

  &__img {
    width: 100%;
    pointer-events: none;
  }

  .previous,
  .forwards {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media only screen and (max-width: $pointXS) {
      height: 100%;
      padding: 0 0.6rem;
      border-radius: 0;
    }

  }

  .forwards {
    right: 10%;
    @media only screen and (max-width: $pointXS) {
      right: 0;
    }
  }
  .previous{
    left: 10%;
    @media only screen and (max-width: $pointXS) {
      left: 0;
    }
  }
}

.swiper {
  &-button-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}


