@import './shop-card.scss';

.shop-list {
  width: 100%;
  max-width: 60rem;
  height: 81rem;
  position: relative;
  overflow-y: auto;
  transition: height 0.5s;

  &.active {
    display: none;
  }

  .active &-more {
    display: none;
  }

  &-more > span{
    transition: all 0.3s ease-in;

    .expanded > span::before{
      display: none;
    }

    .expanded > span {
      margin-right: 3rem;
    }
  }
}


