@import './similar-categories.scss';
@import './similar-location.scss';

.similar {
  padding: 6rem 0;
  background: $colorPrimary;
  background-image: url("/public/assets/img/categories-bg.webp");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;

  @media only screen and (max-width: $pointMD) {
    padding-top: 2.7rem;
    padding-bottom: 5.4rem;
    background-image: url('/resources/assets/img/categories-bg-mobile.png');
    background-position: bottom right;
    background-size: 75%;
  }

  &__title {
    margin-bottom: 4.2rem;
    font-size: 3rem;
    letter-spacing: -0.05em;
    font-weight: 600;
    color: $colorMainBackground;

    @media only screen and (max-width: $pointMD) {
      margin-bottom: 2.5rem;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $pointMD) {
      flex-direction: column;
    }
  }

  &__more-btn {
    min-height: 2rem;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
    padding-left: 3rem;

    @media only screen and (max-width: $pointMD) {
      margin-bottom: 4rem;
    }
  }

  &__more-btn::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-image: url("/resources/assets/svg/arrow-square-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: all 0.5s;
  }

  &__more-btn.active::before {
    transform: translateY(-50%) rotate(-180deg);
  }
}


